.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}
.product  img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product-info{
    margin: 0px 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.product-name{
    font-size: 21px;
    font-style: italic;
    color: #0E161A;
    line-height: 25px;
    font-weight: 400px;
    font-family: 'lato';
}
.btn-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: orange;
}